<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slavikplamadyala_weightlosstracker">
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature android:name="android.hardware.telephony"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_diet"
        android:label="Weight Tracker"
        android:roundIcon="@drawable/ic_diet"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlavikPlamadyala_WeightLossTracker">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </activity>
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </activity>
    </application>

</manifest>